modem.img
system_ext/apex/com.android.vndk.v30.apex
system_ext/priv-app/Settings/Settings.apk
vendor/camera/mimoji/model2.zip
vendor/etc/camera/st_license.lic
boot.img
system/system/priv-app/MiuiCamera/MiuiCamera.apk
system/system/app/MIUIVideoPlayer/MIUIVideoPlayer.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Velvet/Velvet.apk
product/app/WebViewGoogle/WebViewGoogle.apk
