modem.img
product/priv-app/ExtraPhotoGlobal/ExtraPhotoGlobal.apk
product/priv-app/Gallery_T_Global/Gallery_T_Global.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/GmsCore/GmsCore.apk
product/app/Messages/Messages.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
product/data-app/MIMediaEditorGlobal/MIMediaEditorGlobal.apk
product/data-app/MIBrowserGlobal_removable/MIBrowserGlobal_removable.apk
system_ext/priv-app/Settings/Settings.apk
system_ext/apex/com.android.vndk.v30.apex
vendor/camera/mimoji/model2.zip
vendor/etc/camera/st_license.lic
boot.img
